.content__table {
    min-width: max-content;
    min-height: max-content;
    border-collapse: separate;
    border-spacing: 0;
}

.content__body-header {
    padding: 8px 16px;
}

.content__search-left {
    position: relative;
}

.content__search-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.content__search-input {
    border-radius: var(--border-radius);
    border: 1px solid #dddde4;
    width: 200px;
    height: 28px;
    padding: 6px 36px;
}

.content__search-input:focus,
.content__search-input:hover {
    outline: 1px solid var(--primary-color);
}

.content__search-input::placeholder {
    color: #9ea7b4;
    font-weight: 400;
}

th {
    white-space: nowrap;
}

tr {
    cursor: pointer;
    height: 32px;
    border-bottom: 1px solid #e0e6ec !important;
}

tr td {
    border-bottom: 1px solid #e0e6ec;
    padding: 0 16px;
}

tbody tr:hover td {
    background-color: var(--bg-hover);
}

tbody tr:focus td {
    background-color: #a4f6d3;
}

.content__datagrid {
    overflow: auto;
    position: relative;
}

/* sticky first column */
tbody .content__table-checkbox {
    position: sticky;
    left: 0;
    background-color: #fff;
    z-index: 1;
}

.col-delete {
    position: sticky;
    right: 0;
    border: none;
    height: 32px;
    column-gap: 8px;
    background-color: #fff;
    z-index: 1;
    overflow: visible;
}

.btn-modify-wrapper {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* sticky header */
.content__table-header tr th {
    position: sticky;
    top: 0;
    background-color: #f9fafb;
    z-index: 2;
    border-bottom: 1px solid #e0e6ec;
}

.content__table-header-wrapper {
    position: relative;
}

.content__table-header-line {
    width: 1px;
    background-color: #d1d5db;
    height: 18px;
    position: absolute;
    left: -16px;
}

/* top-left cell */
.content__table-header .content__table-checkbox-header {
    left: 0;
    padding-top: 3px;
    z-index: 3;
    background-color: #f9fafb;
}

/* Paging style */
#page-size-select:hover {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.content__paging {
    height: 44px;
    padding: 12px;
    background-color: #f5f5f5;
}

.content__table-header {
    background-color: #f9fafb;
    border-bottom: 1px solid #e0e6ec;
    height: 32px;
    background-color: #f9fafb;
}

.content__table-header th {
    text-align: start;
    padding: 0 16px;
}

.content__table-checkbox {
    padding-top: 3px;
}

/* Kết thúc Style phần content */

.content__table {
    min-width: max-content;
    min-height: max-content;
    border-collapse: collapse;
}

/* Kết thúc paging style */
.btn-modify-wrapper {
    position: relative;
}

.content__table-popup-item {
    padding: 8px 12px;
    cursor: pointer;
}

.content__table-popup-item:hover {
    background-color: #f3f4f6;
}

.content__table-popup-text {
    margin-left: 8px;
}

.content__table-popup-more {
    border-radius: var(--border-radius);
    box-shadow: 0px 3px 5px rgba(192, 192, 192, 0.1);
    background-color: #fff;
    padding: 8px 0;
    width: max-content;
    transform: translate(-100%, 0);
}

select {
    height: 34px;
    width: 100%;
    min-width: 0;
    padding: 2px 16px 0;
    border-radius: var(--border-radius);
    outline: none;
    border: 1px solid #dcdce3;
}

select:focus {
    border-color: var(--primary-color);
}

select:hover {
    border-color: var(--primary-color);
}

.content__paging-btn--disabled {
    background-color: #c9cdd4;
}

.content__paging-btn-wrapper {
    margin-left: 16px;
    column-gap: 24px;
}

.skeleton {
    height: 12px;
    width: 100%;
    border-radius: 4px;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 37%, #f0f0f0 63%);
    background-size: 400% 100%;
    animation: skeleton-loading 1.4s ease infinite;
}

.col-checkbox {
    width: 48px;
}

.skeleton-checkbox {
    width: 16px;
    height: 16px;
}

.skeleton-action {
    width: 40px;
    height: 16px;
    margin: auto;
}

@keyframes skeleton-loading {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.sort__popup-item {
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding: 8px 12px;
    cursor: pointer;
    font-weight: 400;
}

.sort__popup-item:hover {
    background-color: #f3f4f6;
}

.table__header-sort-popup {
    position: absolute;
    top: 32px;
    left: 0;
    background-color: #fff;
    box-shadow:
        0 0 8px #0000001a,
        0 8px 16px #0000001a;
    border-radius: var(--border-radius);
    padding: 8px 0;
    width: max-content;
    z-index: 2;
}

.sort__popup-line {
    width: calc(100% - 24px);
    height: 1px;
    background-color: #e0e6ec;
    margin: 8px 12px;
}

.filter__popup-item {
    padding: 16px;
    background-color: white;
    position: absolute;
    top: 32px;
    z-index: 99999;
    width: 350px;
    border-radius: var(--border-radius);
    box-shadow:
        0 0 8px #0000001a,
        0 8px 16px #0000001a;
}

.content__table-filter-icon {
    display: none;
}

.content__table-header-wrapper:hover .content__table-filter-icon {
    display: block;
}

.popup__header-close-btn {
    padding: 6px 12px;
    cursor: pointer;
    border-radius: var(--border-radius);
}

.popup__header-close-btn:hover {
    background-color: #f3f4f6;
}

.filter__popup-header .popup__header-title {
    font-weight: 600;
    font-size: 16px;
}

/* Ghim cột */
.pinned-column {
    position: sticky !important;
    background-color: #fff;
    z-index: 2;
}

.content__table-header .pinned-column {
    background-color: #f9fafb;
    z-index: 3;
}

tbody tr:hover .pinned-column {
    background-color: var(--bg-hover);
}

tbody tr:focus .pinned-column {
    background-color: #a4f6d3;
}

/* Thêm shadow cho cột ghim */
.pinned-column::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: -1px;
    width: 1px;
    background-color: #d1d5db;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.05);
}

.table__empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
